.homeScreen{
    background-color: #FBEBB5;
    display: flex;
}
.introWithBtn{
    padding: 400px 0px 0px 200px;
}
.Header{
    font-size: 65px;
}
.shopBtn{
    padding-top: 20px;
    text-decoration: none;
    border: none;
    background-color: transparent;
    font-size: xx-large;
    font-weight: 500;
    border-bottom: 2px solid black;
    padding-bottom: 8px;
}